@import "./SCSS/_variables.scss";

.hr-1 {
    box-shadow: $Drab 0px 2px 5px;
    opacity: 50%;
}

.sectionContainer {

}

.category {
    border-bottom: solid thin;
    
}
.divContainer {
    display: none;
    
}

.display-block {
    display: block;
    
}
.categoryNews {
    background-color: $Drab;
    margin-top: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.category__container {
    flex-basis: 95%;
    display: flex;
    gap: 15px;
    align-items: center;
    
}



.newsImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
}

.articleTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    font-size: 20px;
    color: $Ice;
}

.articleText {
    color: $Snow;
}

.articleDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.categoryBox {
    display: flex;
    justify-content: center;
}

.categoryContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 85%;
}
.category {
    
    height: 80px;
    display: flex;
    

    .category__icon {
        background-color: $Drab;
        color: $Snow;
        box-shadow: $Drab 0px 4px 6px;
        border-radius: 60px;
        height: 30px;
        width: 30px;
        align-self: center;
        position: relative;
        font-size: 20px;
        padding: 4px;
        margin-left: 15px;
    }

    .category__icon::before {
        position: absolute;
        transform: translate(25% , 30%);
    }

    .category__title-front {
        color: $Drab;
        font-family: Europa, sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        flex: 1;
    }

    .category__angle-icon {
        margin-left: 190px;
    }

    .angle__icon {
        font-size: 25px;
        color: $Drab;
        transition: .4s;
    }

    .rotate {
        transition: .4s;
        transform:rotate(90deg);;
    }

}

.main__settings-text {
    height: -10px;
}